@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  background: #09090b;
}

#root {
  min-height: 100dvh;
}

/* View Transitions Custom Animations */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}
