@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #f4f6fa;
}

html.dark,
html.dark body,
html.dark #root {
  background-color: #09090b;
}

#root {
  min-height: 100dvh;
}







